# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
pip-wheel-metadata/
dist/
build/

# Virtual environments
.venv/
venv/
ENV/
env/

# Editors/OS
.vscode/
.idea/
*.code-workspace
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
